.custom-button{
    background-color: black;
    color: white;
    padding: 15px 25px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    &:hover{
        background-color: #2a2929;
        color: white;
    };
    &.google-sign-in{
        background-color: #4285F4;
        color: white;
        &:hover{
            background-color: #103981;
            border: none;
        }
    }

}